.col-lg-3 * .well {
    height: 200px;

}

#chart1 {
  margin-left: 50px;
}

.weberfy {
  background-color: #492365;
  padding-left: 50px;
  color: white;

}

.centered {
  margin: 0 auto;
}

.weberfy-font * {
  font-family: 'tradegothiclt-light', sans-serif;
}
